---
- name: gather current fortios firmware version
  fortios_facts:
    host:  "{{ ansible_host }}"
    username: "{{ username }}"
    password: "{{ password }}"
    vdom:  "{{ vdom }}"
    ssl_verify: "{{ ssl_verify }}"
    https: "{{ https_state }}"
    gather_subset:
      - fact: 'system_firmware_select'


- name: set fact current fortios firmware build
  set_fact:
    current_build: "{{ansible_facts.network_resources.system_firmware_select.results.current.build}}"
    current_major_version: "{{ansible_facts.network_resources.system_firmware_select.results.current.major}}"
    current_version: "{{ansible_facts.network_resources.system_firmware_select.results.current.version}}"

